/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&family=Splash&display=swap');

/*common style or utilities*/
body {
  font-family: 'Poppins', sans-serif;
  background-color: teal;
  width: 1200px;


}

.container {
  background-color: black;
  color: aliceblue;
  justify-content: space-between;
  display: flex;
  width: 1000px;
  height: 30%;
  padding: 50px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 10px;


}





.this:hover {
  transform: rotate(180deg);
  transform-origin: top left;
}

.my {
  background-color: brown;
  border-radius: 10px;

}



.match {
  height: 250px;
  width: 200px;
  background-color: rgb(226, 198, 43);
  display: grid;
  margin-right: 15px;
  margin-left: 2%;
  border-radius: 10px;


}

.up-match {
  border-radius: 10px;
  height: 50px;
  width: 150px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 5%;
}

.one {
  background-color: brown;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 5%;
}

.container-1 {

  justify-content: space-between;
  display: flex;
  column-gap: 20px;

  width: 900px;
  height: 30%;
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 10px;

}

/*section toma*/





.blogs {
  display: flex;


  border: 2px solid green;

}

.control-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.thumbnail img {
  border-image: 2px;
  border-radius: 10px;


}

.thumbnail {
  display: flex;

}

.top-blogs {
  display: grid;
  column-gap: 20px;
  justify-content: end;

}





.transfer {
  height: 30px;
  width: 100px;
  border-radius: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
}



/*footer part*/
.footer {
  text-align: center;
  padding: 60px;
  background-color: darkgrey;
}

.goal {
  display: flex;
  justify-content: space-between;
}

.icon {
  display: flex;
  justify-content: space-around;
}

/*media quaries*/
/*mobile devivce*/
@media only screen and(max-width:688px) {
  .container-1 {

    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }

  @media only screen and(max-width:688px) {
    .footer {
      grid-template-columns: repeat(1, 1fr);
      flex-direction: column;
    }
  }

}